---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Navigation />

    <h1>教育部推荐小学生必读数目</h1>
    <p>
      在这个页面，我将向家长们罗列一些教育部推荐的小学生必读数目，
      范围涵盖了一年纪到六年纪，如果您想要培养孩子的阅读兴趣，又不找不到合适的书，那就来看看权威推荐吧！
    </p>

    <h2>一年级学生必读书目</h3>

    <p>1、《中国古代寓言故事》邶笪钟编写北京人民文学出版社</p>
    <p>2、《中外神话传说》田新利选编 北京人民文学出版社</p>
    <p>3、《十万个为什么》卢嘉锡主编 少年儿童出版社</p>
    <p>4、《与鸟儿一起飞翔》郑作新着湖南少儿出版社</p>
    <p>5、《海底两万里》(法)儒勒.凡尔纳 北京教育出版社</p>
    <p>6、《汉字的故事》梅子涵著 上海科普出版社</p>
    <p>7、《安徒生童话选集》(丹麦)安徒生着，叶君健译 译林出版社</p>


    <h3>如果感兴趣，请点击以下链接了解完整内容</h3>
    <a href="http://fssyjglj.foshan.gov.cn/img/0/400/400499/5214901.png">
      点击这里访问网站</a
    >
    <Footer />
  </main>
</Layout>
  

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  h3 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    margin-bottom: 1em;
    color: #82c5e3;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)

  }
  
  .p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1;
    text-align: left;
    margin-bottom: 1em;
  }
</style>
