---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Navigation />
    <h1>国家求职网站</h1>
    <h3>央企聚集地</h3>
    <p>
      在这个页面，我将展示国企央企和地区性的省级招聘网站，靠谱又有用，为你的求职安全保驾护航！
    </p>

    <li><a href="https://124365.smartedu.cn/"> 国家大学生就业服务平台</a></li>
    <li><a href="https://www.newjobs.com.cn/"> 中国国家人才网</a></li>
    <li><a href="http://chinajob.mohrss.gov.cn/ "> 中国就业网</a></li>
    <li><a href="http://Www.hxrc.com/"> 中国海峡人才网 </a></li>
    <li><a href="http://Www.chinahrd.net/"> 中国人力资源开发网</a></li>
    <li>
      <a href="http://Www.gaoxiaojob.com/ "> 高校人才网(找高校工作看这里)</a>
    </li>
    <li>
      <a href="https://m12333.cn/platform "
        >人社通(全国各地人力资源和社会保障网汇总</a
      >
    </li>
    <li><a href="http://Www.cpta.com.cn "> 中国人事考试网</a></li>

    <Footer />
  </main>
</Layout>

<style>
  body {
    margin: 2em;
    background-image: url("https://img2.baidu.com/it/u=2886979054,4154616998&fm=253&fmt=auto&app=138&f=JPEG?w=714&h=260");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: rgb(220, 228, 234);
  }
  main {
    margin: auto;
    padding: 3rem;
    width: 900px;
    max-width: calc(100% - 2rem);
    color: rgb(94, 84, 69);
    font-size: 36px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 230px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 5rem;
    font-weight: 900;
    line-height: 0.1;
    text-align: center;
    margin-bottom: 3em;
    margin-top: 2em;
    color: #805d42;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 2rem;
    border-radius: 10px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 2;
  }
  li {
    font-size: 39px;
    color: #4b3c3c;
  }
  footer {
    color: rgb(251, 248, 248);
    text-align: left;
  }
</style>
