---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Potry from "../components/Potry.astro";
---

<Layout title="找公告">
  <main>
    <div>
      <Navigation />
    </div>
    <h1>欢迎你!应届生</h1>

    <p class="instructions">
      点击下面部分,你可以查看不同省份考公考编的公告. <br />
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href=" /md/4/"
        title="省考"
        body="各省的公务员考试,是由中央组织部,人力资源和社会保障部组织的,招录对象主要是中央机关及其直属机构的公务员"
      />

      <Card
        href="/md/5/"
        title="军队文职"
        body="军队文职人员，全称“中国人民解放军文职人员 ”，指在军民通用、非直接参与作战，且社会化保障不宜承担的军队编制岗位，从事管理工作和专业技术工作的非现役人员，是军队人员的组成部分。"
      />
      <Card
        href="/md/6/"
        title="事业单位"
        body="事业单位是指由国家为了社会公益目的，通过国家机关举办或其他组织利用国有资产所举办的社会服务组织。"
      />
      <Card
        href="/md/7/"
        title="选调生"
        body="选调生(选调优秀大学毕业生)是各省党委组织部门有计划地从高等院校选调品学兼优的应届大学本科及其以上毕业生到基层工作，作为党政领导干部后备人选和县级以上党政机关高素质的工作人员人选进行重点培养群体的简称。 "
      />
      <Footer />
    </ul>
  </main>
</Layout>

<style>
  body {
    margin: 2em;
    background-image: url("https://img2.baidu.com/it/u=280616070,926264360&fm=253&fmt=auto&app=138&f=JPEG?w=239&h=415");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: rgb(237, 240, 243);
  }
  div {
    border: 2px rgb(238, 233, 212) solid;
    width: 700px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    padding: 1em;
  }
  main {
    margin: auto;
    padding: 1em;
    width: 1000px;
    height: 2500px;
    max-width: calc(100% - 2rem);
    color: rgb(253, 251, 251);
    font-size: 36px;
    line-height: 2;
    text-align: left;
  }
  .astro-a {
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 4rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 3rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 3em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 3px;
    padding: 0.5em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 48px;
  }
  h1 {
    text-align: center;
    color: rgb(86, 79, 171);
    font-size: 80px;
    margin-top: 100px;
    line-height: 2em;
  }
  title {
    font-size: larger;
  }
</style>
