---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="欢迎来到公考网站">
  <main>
    <div>
      <Navigation />
    </div>

    <h1>各省份考公网址</h1>
    <h2>毕业生不容错过的公考报名信息</h2>
    <p>
      在这个页面，我将推荐32个省市和直辖区的公考报名网站，事业单位招聘、公务员以及个别企业的招聘广告都在这上面啦！
    </p>
    <ul>
      <li><a href="/md/1/">各省份考公报名网址</a></li>
      <li><a href="/md/2/">直辖市和自治区</a></li>
    </ul>
    <Footer />
  </main>
</Layout>; ---

<style>
  div {
    border: 3px rgb(219, 207, 132) solid;
    width: 700px;
    height: 40px;
    text-align: center;
    border-radius: 2px;
    padding: 1em;
  }
  body {
    margin: 2em;
    background-image: url("https://img0.baidu.com/it/u=545830803,3460127157&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=890");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: rgb(220, 228, 234);
  }
  main {
    margin: auto;
    padding: 10rem;
    width: 900px;
    max-width: calc(100% - 2rem);
    color: rgb(180, 122, 99);
    font-size: 36px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 230px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 5rem;
    font-weight: 900;
    line-height: 0.1;
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2em;
    color: #834d3d;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 2rem;
    border-radius: 10px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 2;
  }
  li {
    font-size: 39px;
    color: #4b3c3c;
  }
  footer {
    color: rgb(251, 248, 248);
    text-align: left;
  }
</style>
