<nav>
  <a href="/">home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <a href="/notes/">笔记</a>
</nav>

<style>
  nav {
    background-color: rgb(245, 247, 249);
    font-size: 18px;
    padding: 1em;
    text-align: center;
    border-radius: 1em;
    width: 500px;
    margin: 1em auto;
  }
  nav a {
    padding: 0 1em;
    text-decoration: none;
  }
  a {
    color: rgb(35, 27, 15);
    text-decoration: none;
    margin-right: 1em;
  }
  h1 {
    font-size: 48px;
  }
</style>
