<footer>
  <hr />
  <p><span>lzf623.cn</span><span>2024年6月23日</span></p>
  <style>
    span {
      width: 48em;
      color: #7ba3bf;
    }
    p {
      text-align: center;
    }
  </style>
</footer>
