<a href="/">首页</a>
<a href="/about/">体制内工作</a>
<a href="/blog/">国家求职平台</a>
<a href="/notes/">考公报名网站</a>

<style>
  nav {
    background-color: rgb(221, 232, 243);
    font-size: 24px;
    padding: 2em;
    text-align: right;
    border-radius: 1em;
    width: 500px;
    height: 500px;
    margin: auto;
    background-size: 800px;
  }
  nav a {
    padding: 1em;
    text-decoration: none;
    margin-top: auto;
  }
  a {
    color: rgb(112, 107, 104);
    text-decoration: none;
    margin-right: 0.2em;
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
    margin-top: 0;
  }
  h1 {
    font-size: 13px;
  }
</style>
